﻿/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    direction: ltr;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.52857143;
    color: #515253;
    background-color: #f5f7fa;
    margin: 0;
    height: 100%;
    font-family: Source Sans Pro,sans-serif;
    color: #656565;
    user-select: none;
}

*, :after, :before {
    box-sizing: border-box;
}

a {
    background-color: transparent;
    color: #5d9cec;
    text-decoration: none;
    cursor: pointer;
    outline: none !important;
}

img {
    border: 0;
    vertical-align: middle;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10.5px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    > li, > li > a {
        position: relative;
        display: block;
    }
}

.carousel, .nav, .pagination, .panel-title a {
    cursor: pointer;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

body, section {
    background-color: #f5f7fa;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

h, h1, h2, h3, h4, h5, h6, td {
    user-select: text;
}

@media only screen and (min-width:@screen-sm-min) {
    body {
        min-height: 100%;
    }
}
