﻿/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>
// --------------------------------------------------

.groups-overview { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
    .flex-group { flex-grow: 0; padding: 1px; margin: 15px 0;
        > .group-wrap { display: inline-block; padding: 0; margin: 0;
            > h3 { margin: 0; padding: 5px 0 5px 20px; }
            > .table-wrap { background-color: white; padding: 10px 20px 15px 20px;
                > table {text-align: right; text-transform: uppercase; border: none; border-collapse: collapse; margin: 0; padding: 0;
                    tr { font-size: 11px;
                        td { height: 40px; vertical-align: middle; }
                        .position { text-align: left; width: 20px; }
                        .team { display: none; padding-left: 5px; text-align: left; width: 218px; }
                        .short-team { padding-left: 5px; width: 76px; display: table-cell; user-select: text; }
                        .stats { width: 50px; }
                    }

                    tbody tr { border-top: 1px solid @border; text-transform: none; }
                }
            }
        }
    }
}

@media only screen and (min-width:@screen-sm-min) {
    .groups-overview {
        .flex-group { margin: 15px;
            > .group-wrap {
                > .table-wrap { 
                    > table { 
                        tr { font-size: 14px;
                            .team { display: table-cell; }
                            .short-team { display: none; }
                        }

                        tbody tr { text-transform: uppercase; }
                    }
                }
            }
        }
    }
}