﻿/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>
// --------------------------------------------------

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fportal-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/// Icons derrived

.icon-circle-left:before {
    content: "\ea42";
    .rotate(180deg);
}

/// Icon colors
.icon-facebook:before {
    color: @facebook;
}

.icon-vk:before {
    color: @vk;
}

.icon-twitter:before {
    color: @twitter;
}

.icon-google-plus:before {
    color: @googleplus;
}

.icon-youtube:before {
    color: @youtube;
}

.icon-skype:before {
    color: @skype;
}

/// Icons
.icon-circle-right:before {
    content: "\ea42";
}

.icon-logo:before {
    content: "\e900";
}

.icon-logo-inverse:before {
    content: "\e901";
}

.icon-country-flag-default-inverse:before {
    content: "\e94b";
}

.icon-country-flag-default:before {
    content: "\f8ef";
}

.icon-user:before {
    content: "\e971";
}

.icon-earth:before {
    content: "\e9ca";
}

.icon-google-plus:before {
    content: "\ea8c";
}

.icon-hangouts:before {
    content: "\ea8e";
}

.icon-facebook:before {
    content: "\ea91";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-vk:before {
    content: "\ea98";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-linkedin:before {
    content: "\eac9";
}

.icon-skype:before {
    content: "\eac5";
}

.icon-menu:before {
    content: "\e902";
}
