/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>
// --------------------------------------------------

section.container {
    margin-top: 55px;
    margin-left: 220px;
    position: relative;
    height: 100%;
    z-index: @zContainer;
    -webkit-transition: margin-left .2s cubic-bezier(.35,0,.25,1);
    transition: margin-left .2s cubic-bezier(.35,0,.25,1);

    .inner-container {
        padding: 15px;
        width: 100%;
        border-top: 1px solid @border;
        margin-top: -1px;

        .page-title {
            display: block;
            text-align: center;
            margin: -20px;
            margin-bottom: 20px;
            padding: 20px;
            padding-bottom: 18px;
            font-size: 24px;
            line-height: 1.1;
            color: @brand;
            font-weight: 400;
            background-color: @page-title;
            border-bottom: 1px solid @border;
        }
    }
}

.flex-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.flex-container {
    flex: 1 0 auto;
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
}

.aside-collapsed section.container {
    margin-left: 0;
}

@media only screen and (min-width:@screen-sm-min) {
    section.container {
        margin-left: 220px;

        .inner-container {
            padding: 20px;

            .page-title {
                text-align: left;
            }
        }
    }

    .aside-collapsed section.container {
        margin-left: 70px;
    }
}

// =============================================================================
// Navigation Bar
// =============================================================================

.topnavbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: @zTopNavbarWrapper;
    display: block;
}

.navbar {
    filter: none;
    min-height: 55px;
}

.topnavbar {
    background-color: @brand;
    background-image: linear-gradient(to right, @brand 0, @brand-darker 100%);
    background-repeat: repeat-x;
    margin-bottom: 0;
    border-radius: 0;
    z-index: @zTopNavbar;
    position: relative;
    border: 0;

    .topnavbar-inner {
        padding: 0 15px;
        background-color: transparent;

        .nav-list-left {
            margin: 0;
            padding: 0;
            float: left;
            cursor: pointer;
            list-style: none;

            > li {
                position: relative;
                display: block;
                color: @navbar-background;
                padding: 15px 15px 15px 14px;
                line-height: 21px;
                font-size: 26px;

                &:hover {
                    color: black;
                }
            }
        }
    }

    .navbar-header {
        background-color: transparent;
        position: relative;
        z-index: @zTopNavbarHeader;
        float: left;
        background-image: none;
        filter: none;
        text-align: center;

        &:before {
            content: " ";
            display: table;
            box-sizing: border-box;
        }

        .navbar-brand {
            width: 100%;
            font-size: 33px;
            line-height: 18px;
            float: left;
            height: 56px;
            padding: 0;
            padding: 11px 18px;
            color: @navbar-background;

            &:hover {
                color: black;
            }

            .brand-logo {
                animation: fadeIn 1s;
                padding: 0;

                > img {
                    margin: 0 auto;
                }

                > span {
                    font-size: 20px;
                    padding-left: 12px;
                    vertical-align: middle;
                    bottom: 4px;
                    position: relative;
                }
            }
        }
    }
}

.aside-navbar-wrapper {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: @zAsideNavbarWrapper;
    backface-visibility: hidden;
    transition: width .2s cubic-bezier(.35,0,.25,1),translate .2s cubic-bezier(.35,0,.25,1);
    position: fixed;
    height: 1px;
    min-height: 100%;

    .aside-inner {
        padding-top: 55px;
        height: 100%;
        width: 220px;
        overflow: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        transition: width .2s cubic-bezier(.35,0,.25,1);

        .sidebar {
            height: 100%;
            padding-bottom: 20px;
            background-color: @navbar-background;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;

            &:not(.show-scrollbar) {
                margin-right: -17px;
                overflow-y: scroll;
            }

            &:after {
                content: "";
                background: @border;
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                right: 0;
                width: 1px;
                -webkit-transform: translateZ(0);
            }

            .nav {
                > li {
                    width: 100%;

                    > a {
                        -webkit-transition: border-left-color .4s ease;
                        transition: border-left-color .4s ease;
                        -webkit-transition: background-color .4s ease;
                        transition: background-color .4s ease;
                        border-left: 3px solid transparent;
                        white-space: nowrap;
                        animation: fadeInLeft .5s;
                        letter-spacing: .025em;
                        font-weight: 400;
                        cursor: pointer;
                        text-indent: -3px;
                        padding: 8px 0 8px 12px;
                        text-align: left;

                        &.active {
                            background-color: @brand-active-background;
                            border-left: 3px solid @brand;
                        }

                        > em {
                            display: inline-block;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            font-size: 1.6em;
                            width: auto;
                        }

                        .sidebar-link-text {
                            color: @brand;
                            animation: fadeIn 1s;
                            font-size: 14px;
                            padding-left: 12px;
                            vertical-align: middle;
                            bottom: 5px;
                            position: relative;
                        }

                        &:hover .sidebar-link-text, &.active .sidebar-link-text {
                            color: @brand-darker;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

footer {
    margin-left: 220px;
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid @border-light;
    padding: 20px;
    z-index: @zFooter;

    .socials {
        float: right;
        padding: 0;
        margin-bottom: 0;

        > li {
            margin-left: 12px;
            margin-top: -2px;
            padding: 0;
            line-height: 40px;
            font-size: 25px;
            list-style: none;
            display: inline-block;

            > a {
                display: block;
                cursor: pointer;
                text-decoration: none;
                background: transparent;
            }
        }
    }
}

.aside-collapsed {
    overflow-y: auto;

    .aside-navbar-wrapper {
        width: 0;

        .aside-inner {
            width: 0;
        }
    }

    .aside-navbar-wrapper .aside-inner .sidebar {
        overflow-x: hidden;

        .nav > li > a {
            padding-left: 0;
            text-align: center;

            .sidebar-link-text {
                display: none;
            }
        }
    }

    footer {
        margin-left: 0;
    }
}

@media only screen and (min-width:@screen-sm-min) {

    .topnavbar {
        .navbar-header {
            width: 220px;
        }

        .topnavbar-inner {
            position: relative;
            box-shadow: 0 1px 2px @border;
            z-index: @zTopNavbarInner;
        }
    }

    .aside-collapsed {
        .topnavbar {
            .navbar-header {
                width: 70px;

                .brand-logo > span {
                    display: none;
                }
            }
        }

        .aside-navbar-wrapper {
            width: 70px;

            .aside-inner {
                width: 70px;
            }
        }

        footer {
            margin-left: 70px;
        }
    }
}
