﻿/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>
// --------------------------------------------------

.matchday-headline {
    display:inline;
    margin: 5px 10px;
}

.matchday-control {
    color: @brand;
    cursor: pointer;

    &:hover {
        color: @brand-active-background;
    }

    &.disabled {
        color: gainsboro;
    }

    &:before {
        display: inline-block;
    }
}