// =============================================================================
// Mixins
// =============================================================================

.opacity(@opacity) {
    opacity: @opacity;
    // IE8 filter
    @opacity-ie: (@opacity * 100);
    filter: ~"alpha(opacity=@{opacity-ie})";
}

.icon-flag(@flag) {
    background: @flag;
    .opacity(1);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 5px;
}

.rotate(@deg){
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}


