﻿/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>
// --------------------------------------------------

.nav-tabs-container {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 10px;
    border-bottom: 1px solid @border;

    .flexslider-tab {
        float: none;
        margin: 0;
        width: 100%;
        position: relative;

        .nav-tabs {
            width: 702px;
            border-bottom: none;
            padding-left: 0;
            list-style: none;
            margin: 0;

            .tab {
                position: relative;
                display: block;
                float: left;
                text-align: center;
                padding: 12px 20px 8px;
                cursor: pointer;

                &.active {
                    border-bottom: 3px solid @brand;
                    color: @brand;
                    cursor: default;
                }
            }
        }
    }
}

@media only screen and (min-width:@screen-sm-min) {
    .nav-tabs-container {
        margin-bottom: 30px;
        width: auto;
    }
}
