﻿section.container .not-found-container {
    padding: 0;
    margin: 0;
    background-image: url("../images/not-found.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 88vh;

    .inner-container {
        line-height: 1;
        padding: 0;
        margin: 0;
        background-color: black;
        display: inline-block;
        position: relative;
        width: 100%;
        text-align: center;
        opacity: 0.8;
        font-family: 'Oswald' !important;

        h1 {
            margin: 80px 0 20px 0;
            color: @navbar-background;
            font-size: 150px;
        }

        .not-found-text {
            margin: 20px 0;
            font-size: 70px;
            color: @error;
        }

        .underline {
            display: inline-block;
            width: 150px;
            height: 2px;
            background-color: @error;
            margin-bottom: 10px 0;
        }

        .message {
            margin: 40px 0 80px 0;
            color: @navbar-background;
            font-size: 14px;

            > span {
                display: inline-block;
                width: 33%;
            }
        }
    }
}

@media only screen and (min-width:@screen-sm-min) {
    section.container .not-found-container .inner-container {
        margin-top: 8%;
    }
}
