﻿/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>
// --------------------------------------------------

.season-matches { display: flex; flex-wrap: wrap; justify-content: center;
    .date-group-wrap { flex-grow: 0; padding: 1px; margin: 10px 0;
        > .date-group { display: inline-block; padding: 0; margin: 0;
            > h3 { background-color: white; text-align: center; margin: 0; padding: 10px 0 5px 20px; }
            > .table-wrap { background-color: white; padding: 5px 20px 5px 20px;
                > table { border: none; border-collapse: collapse; margin: 0; padding: 0;
                    tr { border-top: 1px solid @border; font-size: 11px;
                        td { height: 40px; vertical-align: middle;
                            &.home { text-align: right; padding: 0 5px;}
                            &.away { text-align: left; padding: 0 5px;}
                            &.team-name { display: none; }
                            &.short-team-name { text-transform: none; width: 76px; display: table-cell; }
                            &.score { width: 20px;
                                &.in-progress { background-color: red; }
                            }
                            &.team-badge { display: table-cell; }
                            &.more-button { display: none; }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:@screen-sm-min) {
    .season-matches {
        .date-group-wrap { margin: 10px;
            > .date-group {
                > .table-wrap {
                    > table {
                        tr { font-size: 14px;
                            td {
                                &.team-name { text-transform: uppercase; width: 180px; display: table-cell; }
                                &.short-team-name { display: none; }
                                &.more-button { display: table-cell; }
                            }
                        }
                    }
                }
            }
        }
    }
}
