﻿/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>
// --------------------------------------------------

[class^="svgicon-"], [class*=" svgicon-"] {
    width: 26px;
    height: 19px;
}

.aside-collapsed [class^="svgicon-"], .aside-collapsed [class*=" svgicon-"] {
    width: 34px;
    height: 25px;
}

.svgicon-flag-europe-union { .icon-flag(@flag-europe-union); }
.svgicon-flag-england { .icon-flag(@flag-england); }
.svgicon-flag-germany { .icon-flag(@flag-germany); }
.svgicon-flag-france { .icon-flag(@flag-france); }
.svgicon-flag-spain { .icon-flag(@flag-spain); }
.svgicon-flag-italy { .icon-flag(@flag-italy); }
.svgicon-flag-netherlands { .icon-flag(@flag-netherlands); }
.svgicon-flag-portugal { .icon-flag(@flag-portugal); }
.svgicon-flag-ukraine { .icon-flag(@flag-ukraine); }
.svgicon-flag-russia { .icon-flag(@flag-russia); }
.svgicon-flag-champions-league { .icon-flag(@champions-league); width: 25px; height: 27px; }
.aside-collapsed .svgicon-flag-champions-league { .icon-flag(@champions-league); width: 38px; height: 36px; }
.svgicon-flag-europe-league { .icon-flag(@europe-league); width: 22px; height: 27px; }
.aside-collapsed .svgicon-flag-europe-league { .icon-flag(@europe-league); width: 25px; height: 36px; }
.svgicon-flag-euro-2016 { .icon-flag(@european-championships-2016); width: 22px; height: 27px; }
.aside-collapsed .svgicon-flag-euro-2016 { .icon-flag(@european-championships-2016); width: 25px; height: 36px; }