﻿/// <reference path="variables.less"/>
/// <reference path="mixins.less"/>
// --------------------------------------------------

.team { display: flex; flex-wrap: wrap; justify-content: center;
    .team-info, .team-players { flex-grow: 0; padding: 1px; margin: 0 auto;
    }

    .team-players {

    }

    .team-info { text-align: center;
        > h3 { font-size: 40px; }
    }
}